<nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">PNX Angular-ASP</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link active" routerLink="/">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="/create">Create</a>
                </li>

            </ul>
        </div>
        <a class="navbar-brand" href="#">
            <img src="assets/angular.jpg" alt="PNX Angular-ASP" style="height: 35px;">
        </a>
    </div>
</nav>

<div class="container">
    <router-outlet />
</div>