<h2 class="text-center my-5">{{isEditing? 'Edit' : 'Create'}} Employee</h2>

<div *ngIf="errorMessage != ''">
    {{errorMessage}}
</div>

<form class="border rounded w-50 p-5 mb-5 mx-auto" (ngSubmit)="onSubmit()">

    <div class="mb-3">
        <label class="form-label">First Name</label>
        <!--  2 way data binding [()] -->
        <input class="form-control" type="text" name="firstname" [(ngModel)]="employee.firstName" />
    </div>
    <div class="mb-3">
        <label class="form-label">Last Name</label>
        <input class="form-control" type="text" name="lastname" [(ngModel)]="employee.lastName" />
    </div>
    <div class="mb-3">
        <label class="form-label">Phone Number</label>
        <input class="form-control" type="phone" name="phone" [(ngModel)]="employee.phone">
    </div>
    <div class="mb-3">
        <label class="form-label">Email</label>
        <input class="form-control" type="email" name="email" [(ngModel)]="employee.email">
    </div>
    <div class="mb-3">
        <label class="form-label">Position</label>
        <input class="form-control" type="text" name="position" [(ngModel)]="employee.position">
    </div>

    <button class="btn btn-primary" type="submit">{{isEditing? 'Update' : 'Create'}}</button>

</form>